[project]
name = "ai-project-translator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "click>=8.3.1",
]

[dependency-groups]
dev = [
    "ruff>=0.14.7",
]
